/**/
#hamburgermenu {
    width: 20px;
    height: 20px;
    background-color: white;
}

/* Desktop */
#hamburgermenu {
    display: none;
}

/* Desktop */
nav {
    width: 90vw;
    height: 10vh;
    padding: 2vh 5vw 2vh 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EA4D4B;
}

h1 {
    color: white;
}

section {
    height: 100%;
    padding: 2vh 5vh 2vh 5vh;
}

#MainContainer {
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#Section1 {
    background-color: #f9CA22;
}

#Section2 {
    background-color: #f0922b;
}

#Section3 {
    background-color: #69b04c;
}

/* Mobile */
@media only screen and (max-width: 786px) {
    #hamburgermenu {
        display: block;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        justify-content: space-between;
        background-color: #567e94;
    }

    #Section1 {
        background-color: #edcd00;
    }

    #Section2 {
        background-color: #ea83ff;
    }

    #Section3 {
        background-color: #0796ba;
    }
}

/* Tablet */
@media only screen and (min-width: 576px) and (max-width: 786px) {
    #hamburgermenu {
        display: none;
    }

    nav {
        justify-content: center;
        background-color: #856b6f;
    }

    #Section1 {
        background-color: #3b060b;
    }

    #Section2 {
        background: #000095;
    }

    #Section3 {
        background-color: #00ff15;
    }
}

        